<h1>Home Page</h1>
<h2>What movie are you looking for?</h2>
<form action="/results" method="GET">
    <br>
    <input type="text" name="searchMovie" placeholder="Movie">
    <input type="submit">
</form>