<!-- <%=  %> -> inside this brackets and equal sign is treted as javascript. and will be displayed -->
<!-- <% %> -> inside this without equal sign is the logic if else for loops... -->
<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>
<% if (thingVar.toLowerCase() === "mel"){ %>
    <p>Good Choice! Mel is the best</p>
<% } else { %>
    <p>Not a good choice</p>
<% } %>

<p>P.S. this is the love.ejs file!</p>